

.header-container{
    max-width: 100%;
    position: sticky;
    top: 0;

    padding: 20px;

    justify-content: space-between;
}

.header-menu {

}

.header-menu > *{
    margin: 0px 10px;
    cursor: pointer;
}